<h1> class="display-1">Never stop shopping! More goods coming soon!</h1>

There are <%= @product.count %> products!!
<ul>
<% @products.each do |product| %>
    <li><%=product.name%>: <%= product.price %></li>
    <%= link_to "Purchase Right Now!", buy_path(product), class: "btn btn-primary"%>
<% end %>
</ul>

<h2> Your shopping cart has <%=@cart.length%> items</h2>
<%= link_to "Check Out", checkout_path%>